<h1>Hello!</h1>

<%
  user_input = "Rock"
  pc_options = ["Rock", "Paper", "Scissors"]
  pc_input = pc_options[rand(3)]
%>

<p>You chose Rock, tThe computer chose <%= @pc_input  %>.</p>


<p> You <% = {game_result} %>!</p>
