<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- Connect to our own additional CSS -->
  <!-- <link rel="stylesheet" href="assets/additional_styles.css"> -->
  <!-- These meta tags make Bootstrap responsive and more accessible -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Connect to Google Web Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

</body>
</html>
